numpy==1.26.4
pillow==11.2.1
opencv-python-headless==4.11.0.86
torch==2.5.1
werkzeug==2.0.2
flask==2.0.2
flask-cors==6.0.1
requests
deepface
tf-keras
paddlepaddle==2.6.1
paddleocr
protobuf>=5.28.0
onnxruntime